*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: Nunito, 'Noto Sans SC', -apple-system, 'PingFang SC', sans-serif;
  font-weight: 500;
  color: #725d42;
  -webkit-font-smoothing: antialiased;
}
